body {
    color: #45007A;
}

a {
    color: #FFC110;
}

a:visited {
    color: #FFC110;
}

h3,
h3.archive__subtitle {
    clear: both;
    color: #FFC110;
    font-family: "Poppins";
    font-size: 1.35em;
}



h1,
h2 {
    color: #FFC110;
    font-family: "Martel";
    font-weight: 700;
}

p,
.sidebar p,
.archive__item-title,
a,
body {
    font-family: "Palanquin";
}

#main {
    position: relative;
}