body {
    color: #30618C;
}

a {
    color: #F2B279
}

a:visited {
    color: #F28F6B
}

h3,
h3.archive__subtitle {
    clear: both;
    color: #59A8D9;
    font-family: "Poppins";
    font-size: 1.35em;
}



h1,
h2 {
    color: #F0C56B;
    font-family: "Martel";
    font-weight: 700;
}

p,
.sidebar p,
.archive__item-title,
a,
body {
    font-family: "Palanquin";
}

#main {
    position: relative;
}