.masthead {
    background-color: #8D51CF
}

#site-nav {
    background-color: #8D51CF;
}

#site-nav a,
#site-nav a:visited {
    color: #FFFFFF;
}

#site-nav a,
#site-nav a:visited {
    font-family: "Poppins";
}

.fas {
    color: #FFFFFF;
}

.greedy-nav .visible-links a:before {
    background: #ffffff;
}