.masthead {
    background-color: #021056
}

#site-nav {
    background-color: transparent;
}

#site-nav a,
#site-nav a:visited {
    color: #F0C56B;
}

#site-nav a,
#site-nav a:visited {
    font-family: "Poppins";
}